.get-btn{
  background-color: #DA6E5B !important;
  color: white !important;
  border-radius: 4px !important;
  padding: 4px !important;
  margin-top: 10px;
}
#bgvid{
  position: absolute;
  width: 100%;
}
