// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,h1,h2,h3,h4,h5{
  font-family: 'Gentium Book Basic', serif !important;
}
.ff{
  font-family: 'Gentium Book Basic', serif !important;
}
/****************************/
.navbar-toggle {
  border: none !important;
  background: transparent !important;
  float: left !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
/******************************/
.btn-ar{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pull-r{
  position: absolute;
  right: 0;
}

.ph{
  background: rgb(234, 241, 240) !important;
}

.pad{
  padding-left: 15px;
  padding-right: 10px;
}

.turngreenback{
      background-color: #d6e5e2 !important;
      color: black !important;
}
.turnblack{
    color: black !important;
}

.turnblack h3,p{
    color: black !important;
}
.ci{
  vertical-align: top !important;
  padding-top: 200px;
}

.tlt{
  line-height: 1;
  font-size: 25px;
  font-family: 'Lobster', cursive;
}
.tlt-2{
  line-height: 1;
  font-size: 25px;
  font-family: 'Lobster', cursive;

}
.tlt-3{
  line-height: 1;
  font-size: 25px;
  font-family: 'Lobster', cursive;

}
.get-btn{
  background-color: #DA6E5B;
  color: white !important;
  border-radius: 100px !important;
  padding: 10px !important;
  margin-top: 4px;
}

.get-btn:hover{
  background-color: #c46351 !important;
  color: white !important;
}

.login-btn{
  color: black !important;
}

.l-nav{
padding-left: 28% !important;
width: 85%;
font-size: 18px;
}
.nr{
  position: absolute !important;
  right:20px;
  font-size: 18px;
}
.l-nav li{
padding-right: 5%;
}

.baj-img{
  position: absolute;
  width: 170px;
  top: 6px;
}
.custom-nav{
  font-family: 'Open Sans', sans-serif;
}

.l-nav li a{
  color: black !important;
}


// .navbar .navbar-nav {
//   display: inline-block;
//   float: none;
//   vertical-align: top;
// }

.bj-img{
position: relative;
width: 400px;
height: 400px;
top: 160px;
}

.gtb{
  margin-top: 4px;
  border: 2px solid #58ca7e;
  background: #58ca7e;
  padding: 6px 15px !important;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
}

.gtb:hover{
  color: #fff;
  border: 2px solid #45c46f;
  background: #45c46f;
}

#btnd{
  background-color: #ff4d4d;
  border: 2px solid #ff4d4d;
}

#btnd:hover{
  background:#cc0000;
  border: 2px solid #cc0000;
}

.dbi{
  width: 180px;
  height: 180px;
  margin-top: 20px;
}

#bgvid{
  position: absolute;
  width: 100%;
}

#polina{
display: block;
width: 60px;
padding: .4rem;
border: none;
font-size: 1.3rem;
background: rgba(255,255,255,0.23);
color: #fff;
border-radius: 3px;
cursor: pointer;
transition: .3s background;
}

#polina:hover {
 background: rgba(0,0,0,0.5);
}

.turnblack li a{
  color: black !important;
}

/***************************/

/*Media Queries*/
@media (max-width:1440px) and (min-width:1280px)
{
  .l-nav{
    padding-left: 22% !important;
    font-size: 16px;
  }
  .l-nav li{
  padding-right: 4%;
  }
  .nr{
    font-size: 16px;
  }
}
@media(max-width:1280px)
{
  .l-nav{
    padding-left: 20% !important;
    font-size: 16px;
  }
  .l-nav li{
  padding-right: 0;
  }
  .nr{
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .l-nav{
    padding-left: 12% !important;
    font-size: 12px;
  }
  .l-nav li{
  padding-right: 0;
  }
  .nr{
    font-size: 12px;
  }
  .baj-img{
    position: absolute;
    width: 110px;
    top: 10px;
  }
  .get-btn{
    font-size: 10px !important;
  }
}
@media (min-width: 768px) {
  .pull-r{
    position: initial;
    float: right !important;
  }
}
@media (max-width:768px) and (min-width:500px){
.baj-img{
    top:5px;
    width: 120px !important;
}
}
@media(max-width:500px)
{
.baj-img{
    top: 5px;
}
}

@media (max-width: 990px) {
.l-nav li{
  padding-right:0;
}
// .l-nav{
// padding-left: 20% !important;
// width: 63%;
// }
.tlt{
  line-height: 1;
  font-size: 20px;
}
.tlt-2{
  line-height: 1;
  font-size: 20px;
}
.tlt-3{
  line-height: 1;
  font-size: 20px;
}
}

@media (max-width: 768px) {
.l-nav{
    padding-left: 8% !important;
    font-weight: 200;
    font-size: 25px;
}
.l-nav li{
  border-bottom: 1px solid #e7e7e7;
}
.nr{
  position: initial !important;
  padding-left: 8% !important;
  font-weight: 200;
  font-size: 25px;
}
.get-btn{
  border-radius: 0 !important;
width: 180px;
}

.navhh{
  background-color: white;
}
.baj-img{
    top: 13px;
    width: 110px;
    position: absolute;
    left: 50%;
    margin-left: -55px !important;  /* 50% of your logo width */
    display: block;
}
.bj-img{
  width: 300px !important;
  height: 300px !important;
}
.custom-nav{
background: transparent !important;
}

.ci{
  vertical-align: top !important;
  padding-top: 120px;
}
}
